During the semester, students take two 20-point computer-based midterms in the Seminar, and at home they complete a 30-point Homework assignment from the Lecture topics and a 30-point Homework assignment from the Seminar topics. The conditions for a successful semester are: achieving a total of at least 20 points on the two computer-based midterms, at least 15 points on the lecture Homework assignment, and at least 15 points on the Seminar Homework assignment.

-------------------------------------------------

Seminar:

First midterm: in the 5th week: from the topics of 1-3 lessons
Second midterm: in the 12th week
Retake midterm: in the 13th week

You cannot use any supplementary materials on the first midterm, but on the second midterm you can use the course material file (PDF file) used in the Seminars, which I will copy next to the midterm tasks at the beginning of the midterm.

The deadline for submitting the Seminar Homework is May 9 (Saturday 23:59)

Only the computers in the computer lab can be used for midterm. They have English keyboards.

-------------------------------------------------

Lecture:

The deadline for submitting the Lecture Homework is May 2 (Saturday 23:59)
Anyone who submits the Lecture Homework by April 25 and reaches a score of 15 points will receive +5 points to their score.
Anyone who submits the Lecture Homework by April 18 and reaches a score of 15 points will receive +10 points to their score.

-------------------------------------------------

For the Lecture and Seminar Homework as well:
In case of late submission, points will be deducted, the amount of which is: 2 points will be deducted for each day of delay, but only from the part of the total score obtained above 15 points, so the point deduction does not risk achieving the minimum required 15 points.
If the Homework does not reach the required level, there will be an opportunity to correct it and submit it again.



